#row-inscription-img{
	display:flex;
	justify-content: center;
	margin-top: 70px; 
	margin-bottom: 30px;
}
#img-inscription{
	height: 100px; 
	width: 300px
}
#row-form{
	display:flex;
	flex-direction: column;
	align-items: center;
}
#form{
	width: 700px;
}
#col-check-gender{
	display: flex;
	justify-content: center
}
#group-input1{
	display: flex;
	justify-content: space-between
}
#select-fonction{
	width: 170px;
	margin-top: auto
}
#group-input2{
	display: flex;
	justify-content: space-between
}
#select-origin{
	width: 170px;
	margin-top: auto
}
#col-FR{
	margin-top:40px
}
#divKey-checkFR{
	margin-top: 10px; 
	margin-bottom:10px
}
#text-legal{
	margin-top: 20px;
	margin-bottom: 40px;
	font-family: "QuickSand";
	color: grey;
	font-size: 10px;
	text-align: center;
	font-style: italic;
}
#col-btn-submit{
	display: flex;
	justify-content:center;
}
#col-footer{
	background-color: #14233C;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#btn-submit{
	font-weight: bold;
	font-size: 40px;
	color: white;
	letter-spacing: 1px;
	font-family: "DINPro-Black";
	border: none;
	border-radius: 60px 60px 60px 60px;
	padding: 0px 30px 0px 30px;
	background-color: #D4DB2E
}
/* CHECKBOX - test : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox*/
.label-radio {
	display: inline-flex!important;
	/* justify-content: space-evenly;
	flex-direction: row; */
	position: relative;
	padding-left: 25px;
	margin-right: 35px;
	cursor: pointer;
	font-size: 13px;
	font-family: "QuickSand";
	color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.label-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 13px;
	width: 13px;
	border: solid gray 1px;
	border-radius:50px
}
/* .label-radio:hover input ~ .checkmark {
	background-color: #ccc;
} */
.label-radio input:checked ~ .checkmark {
	background-color: #D4DB2E;
	border: none;
}
.label-radio input:checked ~ .checkmark:after {
	display: block;
}
.label-radio .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.input-text{
	font-family: "DINPro-Regular";
	margin-top: 30px;
	background-color: #ffffff00;
	border-top: none;
	width: 130px;
	border-right: none;
	border-left: none;
	border-bottom: 1.5px solid rgb(0, 0, 0);

}
#text-restrictions{
	font-family: "DINPro-Regular";
	font-size: 14px

}
#comments-area{
	height: 100px;
	width: 300px;
	resize: 'none';
	font-family: "DINPro-Regular";
	border: none;
	background-color: #D6E3E3;
	color:grey;
}
/* SELECT INPUT : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_custom_select */
/* class applies to select element itself, not a wrapper element */
.select-css {
	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: red;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%; /* useful when width is set to anything other than 100% */
	box-sizing: border-box;
	margin: 0;
	border: 1px solid rgb(255, 0, 0);
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	appearance: none;
	background-color: rgb(255, 0, 0);
}

/* -----------------------------RESPONSIVE MEDIA QUERY--------------------------------------------- */
@media only screen and (max-width:700px){
	#root{
		display: contents;
		width: auto !important;
	}
	#row-form, #form {
		width:min-content;
	}
	#col-footer{
		background-color: #0F1430;
		height:150px;
	}
	#img-footer{
		height: 80px;
		width: 200px;
		margin-top:30px
	}
	#row-inscription-img{
		margin-block-start: 15rem;
	}
	#container-form{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	#group-input1, #group-input2{
		display: flex;
		flex-direction: column;
		align-items: normal;
	}
	#select-fonction, #select-origin{
		margin-top: 20px;
	}
	#form{
		width: auto;
    	display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
    	align-items: center;
	}
	#comments-area{
		width: 20rem;
    	height: 9rem;
	}
	#text-legal{
		width: 13rem;
    	position: static;
    	margin-top: 10px;
		margin-bottom: 10px;
		margin-right: auto;
		margin-left: auto;
	}
	#row-footer{
		width: -webkit-fill-available;
	}

	
}