body {
  margin: 0px 0px 0px 0px !important;
  background-color: #EAF6F6;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; */
}
@font-face {
	font-family: "DINPro-Light";
	src: local("DINPro-Light"), 
	url("../src/fonts/DINPro-Light.otf") 
}
@font-face {
	font-family: "DINPro-Black";
	src: local("DINPro-Light"),
	url("../src/fonts/DINPro-Black.otf") 
}
@font-face {
	font-family: "DINPro-Bold";
	src: local("DINPro-Light"),
	url("../src/fonts/DINPro-Bold.otf") 
}
@font-face {
	font-family: "DINPro-Medium";
	src: local("DINPro-Light"),
	url("../src/fonts/DINPro-Medium.otf") 
}
@font-face {
	font-family: "DINPro-Regular";
	src: local("DINPro-Light"),
	url("../src/fonts/DINPro-Regular.otf") 
}
@font-face {
	font-family: "ITC-Black";
	src: local("DINPro-Light"),
	url("../src/fonts/ITCAvantGardePro-Bk.otf") 
}
@font-face {
	font-family: "ITC-Bold";
	src: local("DINPro-Light"),
	url("../src/fonts/ITCAvantGardePro-Bold.otf") 
}
@font-face {
	font-family: "QuickSand";
	src: local("DINPro-Light"),
	url("../src/fonts/Quicksand-VariableFont_wght.ttf") 
}
@font-face {
	font-family: "TradeGothic";
	src: local("DINPro-Light"),
	url("../src/fonts/TradeGothicLTStd-BdCn20.otf") 
}

body{
	margin:0px
}
