#logo{
	height: 40px; 
	width: 130px; 
	margin-left: 20px;
}
#container-header{
	/* border: 1px solid black; */
	background-image: url('./peopleVWeb.jpg');
	height: 600px; 
	margin-top: 0px;
	background-size: contain;
	background-repeat: no-repeat; 
	width: auto;
	box-shadow: inset 0px 90px 20px rgb(24, 24, 24, 0.3);
}
#row-header{
	margin: 0px 150px 40px 150px;
	padding-top: 40px;
	display:flex;
	justify-content: space-between;
}
#col-menu-dropdown{
	display: none;
}
#dropdown-button{
	border:none;
	background-color: #ffffff00;
}
#dropdown-menu{
	height: 30px;
	width: 30px;
}
#dropdown-list{
	background-color: #D4DB2E;
	padding: 5px 5px 5px 5px;
}
#dropdown-list .custom-list{
	display: flex;
	margin-top:5px;
	color: white ;
	text-decoration: none;
	font-weight: bold;
	font-family: "DINPro-Light";
}
#list{
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: flex-end;
	margin-top:0px
}
#list li {
	padding-right: 30px;
}
.list-items{
	color: white ;
	text-decoration: none;
	font-weight: bold;
	font-family: "DINPro-Light";
	padding-bottom: 15px;
}
.list-items:focus{
	background-image: url('./Trait.png');
	background-repeat: no-repeat;
	background-size:auto;
	background-position: bottom;
}
#row-element{
	display: flex;
	flex-direction: column;
	align-items: flex-end; 
	margin: 0px 150px 40px 150px;
	padding-top: 35px;
	padding-right: 40px;
}
#img-greenCamp{
	height: 300px;
	width: 320px;
	position: relative;
}
#col-boxText{
	margin-right:45px;
	margin-top: -55px
}
#box-text{
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 1px;
	font-family: "DINPro-Black";
	color: white;
	border-radius: 10px 10px 0px 10px;
	padding: 20px 50px 20px 50px;
	background-color: #D4DB2E
}

/* -----------------------------RESPONSIVE MEDIA QUERY--------------------------------------------- */
@media only screen and (max-width:700px){
	#container-header{
		background-image: url('./peopleVMobile.jpg');
    	background-size: cover;
    	background-position: bottom;
		background-repeat: no-repeat;
		background-position-x: -15rem;
	}
	#col-menu-dropdown{
		display: flex;
	}
	#dropdown-button{
		/* display: flex; */
		margin-left:-9rem;
	}
	#list{
		display: none;
	}
	#row-header{
		padding-top:15px
	}
	#logo{
		height: 30px;
		width:80px;
	}
	#row-element{
		display: contents;
	}
	#col-greenCamp{
		display: flex;
    	justify-content: center;
    	margin-top: 330px;
	}
	#img-greenCamp{
		height: 220px;
		width: 250px;
	}
	#col-boxText{
		margin: -45px 20px 0px 20px;
	}
	#box-text{
		font-size: 35px;
		border-radius: 20px 20px 0px 20px!important;
	}
}


